<html lang="fr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Tous les voyages</h2>

    <% if (travels.length > 0) { %>
      <% travels.forEach(travel => { %>
        <h3 class="title"><%= travel.title %></h3>
        <p class="snippet"><%= travel.snippet %></p><br>
      <% }) %>
    <% } else { %>
      <p>Pas de voyage à afficher...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>